{% load staticfiles %}
{% load print_tags %}
<html>

<head>
    <meta charset="utf-8">
    <title>Evil Dog Paintings</title>
    <meta name="Paintings For Sale" content="Dog Paintings">
    <meta name="Dog Paintings" content="Dog Paintings">
    <meta property="fb:app_id" content="1158027050953595"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css'  %}">

</head>

<header class="bgimage" role="banner">
</header>
<nav class="navbar navbar-default inverted">
    <div class="container">
        <div class="row">
            <div class="col-sx-12">
                <ul class="nav nav-pills">
                    <li><a href="{% url 'list_paintings' %}"><span class="label label-info">Paintings</span></a></li>
                    <li><a href="{% url 'list_graphics' %}"><span class="label label-info">Graphic Design</span></a>
                    </li>
                    <li><a href="{% url 'list_charity' %}"><span class="label label-info">Charity Design</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1158027050953595";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


</script>

{% block content %}

{% endblock content %}
<footer>
    <p>Powered by: Evil Dog Inc. <br>
       Version: {% get_app_version %}</p>
    <p>All Rights Reserved</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/my_javascript.js' %}"></script>
<!--<script id="dsq-count-scr" src="//cubanofm-com.disqus.com/count.js" async></script>-->
</body>

</html>
