{% load staticfiles %}
{% load print_tags %}
<html>

<head>
    <meta charset="utf-8">
    <title>Evil Dog Paintings</title>
    <meta name="Paintings For Sale" content="Dog Paintings">
    <meta name="Dog Paintings" content="Dog Paintings">
    <meta property="fb:app_id" content="1158027050953595"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="og:url" content="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ item.title|capfirst}}"/>
    <meta property="og:description" content="{{ item.description }}"/>
    <meta property="og:image" content="https://www.cubanofm.com/static/images/{{ item.image }}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css'  %}">

</head>

<header class="bgimage" role="banner">
</header>
<nav class="navbar navbar-default inverted">
    <div class="container">
        <div class="row">
            <div class="col-sx-12">
                <ul class="nav nav-pills">
                    <li><a href="{% url 'list_paintings' %}"><span class="label label-info">Paintings</span></a></li>
                    <li><a href="{% url 'list_graphics' %}"><span class="label label-info">Graphic Design</span></a>
                    </li>
                    <li><a href="{% url 'list_charity' %}"><span class="label label-info">Charity Design</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<body>
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var loginName, loginPicture;
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1158027050953595";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

window.fbAsyncInit = function() {
    FB.init({
      appId      : '1158027050953595',
      status     : true,
      xfbml      : true,
      version    : 'v2.7'
    });

  FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
              getUserInfo();  
          }
          else {
            loginName = null;
            console.log("Not Logged in")

          }
        });

  FB.Event.subscribe('edge.create', like_callback);
  FB.Event.subscribe('edge.remove', unlike_callback);
  FB.Event.subscribe('auth.statusChange', login_callback);
  FB.Event.subscribe('auth.login', login_callback);
};
var like_callback = function(response){
  if (!loginName){
    loginName = getUserInfo();
    document.location.reload(true);

  }
   if(!loginPicture){
    loginPicture = getUserPicture();
  }
  console.log(loginName + ": Like callback: " + response + " url is " + loginPicture);
  var payload  = {url : response, user_name:loginName, picture_url:loginPicture};
  postJson(payload);
}
var unlike_callback = function(response){
  console.log(loginName + ": UnLike callback: " + response);
}

var facebook_plugin_loader = function(response){
  console.log("Plugin has finished loading" + response);
}

var comment_callback = function(response) {
  console.log("comment_callback");
  console.log(response);

}

var login_callback = function(response){
   getUserInfo();
}
  

function getUserInfo(){
      FB.api(
      '/me',
      'GET',
      {"fields":"id,name"},
      function(response) {
          loginName=response.name;         
      });
     loginPicture = getUserPicture();
    };

function getUserPicture(){
      FB.api("/me/picture",
      {"type":"small"},
      function(response) {
        if (response && !response.error) {
          loginPicture=response.data.url;
        }
         
      });
    };

function postJson(payload){

  console.log("reading payload" + JSON.stringify(payload));

  var csrftoken = getCookie('csrftoken');
  $(function () {
    jQuery.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });
});
$(function () {
    jQuery.ajax({
        'type': 'POST',
        'url': 'api/likes',
        'contentType': 'application/json; charset=utf-8',
        'data': JSON.stringify(payload), csrfmiddlewaretoken: '{{ csrf_token }}',
        'dataType': 'text',
        success: function(result) {
        console.log(result)
    }
    }
);
});
}
</script>

{% block content %}

{% endblock content %}
<footer>
    <p>Powered by: Evil Dog Inc. <br>
        Version: {% get_app_version %}</p>
    <p>All Rights Reserved</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
<script src="{% static 'js/my_javascript.js' %}">

</script>
</body>
</html>
