#bgimage {
  background-image: url('../images/Spalvotasshuofonas.png');
  background-position: bottom bottom;
  background-size: cover;
  height: 310px;
  color: gray;

}

#my {
  background-image: url('../images/Spalvotasshuofonas.png');
  height: 310px;
}

.image_details {
    background-position: center center;
    background-size: cover;
    height: 60%;
    width: 100%;
}


@media (max-width: 767px){
    .img-responsive {
        max-width: 100%;
        mix-width: 100%;
    }
    .bgimage{
        max-width: 100%;
        mix-width: 100%;
        border: 3px solid red;
        background-size: cover;

    }

}

.full_image {
      border: 1px solid red;
      margin: auto;
      width: 100%px;
      height: 100%px;

}

footer {
    margin-top: 20px; /* space between content and footer */
    background: #CCFFFF;
    color: gray;
    font-size: .8em;
}

footer p {
    text-align: center;
}
#disqus_thread {
padding: 0px !important;
margin-top:  5px !important;
background-color: white !important;
}

