.bgimage {
  background-image: url('../images/reptiles.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
}

.image_details {
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 600px;
}

@media (max-width: 767px){
    .img-responsive {
        max-width: 50%;
        mix-width: 300px;
    }

}
