.bgimage {
  background-image: url('../images/Evildogscreensaver.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
}

.image_details {
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 600px;
}
