{% extends "base.html" %}

{% block content %}

<header class="bgimage">
    <div class="container">
        <h3>Available Paintings </h3>

    </div>
</header>
<div class="container">
    <div class="row">
        {% for item in items %}
        <section class="col-md-4">
            <img class="image_details" src="images/{{ item.image }}" alt="Icon">
            <h3>{{ item.title|capfirst }}</h3>
            <p>{{ item.description|capfirst }}</p>
        </section>
        <!--a href="{% url 'item_detail' item.id %}">
            {{ item.title|capfirst }}
        </a !-->

        {% endfor %}
    </div>
    <ul>

    </ul>
</div>
{% endblock %}