{% extends "base.html" %}

{% block content %}


<header class="bgimage">
    <div class="container">
        <h3>Available Paintings </h3>

    </div>
</header>
<div class="container">
    <div class="row">
        {% for item in items %}
        <div class="col-sm-4">
            <h3><a href="{% url 'item_detail' item.id %}">
                {{ item.title|capfirst }}
            </a>
            </h3>
            <p>{{ item.description|capfirst }}</p>
            {% if item.image == None %}
                <img src="images/no_image.jpg" class="img-responsive center-block" alt="No Image Photo">
            {% else %}
                <img src="images/{{ item.image }}" class="img-responsive center-block" alt="Images of {{ item.image}}" >
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}