{% extends "base.html" %}

{% block content %}

<header class="bgimage">
    <div class="container">
        <h3>Available Paintings </h3>

    </div>
</header>
<div class="container">
    <div class="row">
        {% for item in items %}
        <div class="col-xs-6 col-sm-4">
            <h3><a href="{% url 'item_detail' item.id %}">
                {{ item.title|capfirst }}
            </a>
            </h3>
            <p>{{ item.description|capfirst }}</p>
            {% if item.image == None %}
            <img class="img-responsive" src="images/no_image.jpg" alt="Icon">
            {% else %}
            <img class="img-responsive" src="images/{{ item.image }}" alt="Icon">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}