{% extends "base.html" %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'index' %}">Back to Index</a>
            <h3>{{ item.title|capfirst}}</h3>
            <p>{{ item.description }}</p>
            {% if item.image == None %}
            <img class="img-responsive" src="/static/images/no_image.jpg" alt="Icon">
            {% else %}
            <img class="img-responsive" src="/static/images/{{ item.image }}" alt="Icon">
        </div>
    </div>
    <div class="row">
        <div class="col-sx-6 col-md-6">
            <p>
            <div class="fb-like" data-href="{% url 'item_detail' item.id %}" data-layout="button_count"
                 data-action="like"
                 data-size="small" data-show-faces="true" data-share="true"></div>
            <div class="fb-comments" data-href="http://www.cubanofm.com/item/{{ item.id }}"
                 data-numposts="5"
                 data-mobile="true"></div>
            {% endif %}
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1158027050953595',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


</script>
{% endblock %}
