{% extends "base.html" %}


{% block content %}
{% load disqus_tags %}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'index' %}">Back to Index</a>
            <h3>{{ item.title|capfirst}}</h3>
            <h4>Description:</h4>
            <p>{{ item.description }}</p>
            {% if item.image == None %}
            <img class="img-responsive" src="/static/images/no_image.jpg" alt="Icon">
            {% else %}
            <img class="img-responsive" src="/static/images/{{ item.image }}" alt="Icon">
        </div>
    </div>
    <div class="row">
        <div class="col-sx-6 col-md-6">
            <div id="disqus_thread">
                {% disqus_show_comments "cubanofm-com" %}
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
