{% extends "base.html" %}


{% block content %}
<head>
    <title>Evil Dog Paintings</title>
    <meta property="og:url"           content="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ item.title|capfirst}}" />
    <meta property="og:description"   content="{{ item.description }}" />
    <meta property="og:image"         content="https://www.cubanofm.com/static/images/{{ item.image }}" />
</head>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <a href="{% url previous_url %}">Back to Listings</a>
            <h3>{{ item.title|capfirst}}</h3>
            <p>{{ item.description }}</p>
            {% if item.image == None %}
            <img class="img-responsive" src="/static/images/no_image.jpg" alt="Icon">
            {% else %}
            <img class="img-responsive" src="/static/images/{{ item.image }}" alt="Icon">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sx-12">
                <p>
                <div class="fb-like" data-href="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                     data-layout="standard" data-action="like" data-size="small"
                     data-show-faces="true" data-share="true" data-width="340"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="fb-comments" data-href="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                     data-numposts="5"
                     data-mobile="true"
                     data-width="100"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
